// we want to have the loading container display its contents in a column
// and in the middle
.loading-container {
  margin: 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// lets just do some things with it
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.spinner {
  border-radius: 0;
  line-height: 0;
  border: none;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  fill: currentcolor;
}

// we spin the
.spinner svg  {
  transform: translate(0, 0);
  // linear gives us a nice smooth outer rotation
  animation: spinner-rotate 1.4s linear infinite
}

.spinner svg circle {
  // for our circles dash effect we need to define that
  // its stroke can be dashed by width
  stroke-dasharray: 88px;
  stroke-dashoffset: 0;
  // we want our spinner shrinking and expanding line to rotate from its center
  transform-origin: center;
  // we want that breathing effect -- slow, fast, slow
  animation: spinner-dash 1.4s ease-in-out infinite;
  // we want a nice round end to our inner dash
  stroke-linecap: round;
}

// this is a very simple spin animation that gives the appearance of rotation
@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

// stroke-dashoffset is one of the cool things you can add to svg circle elements
// in order to shrink and expand a stroke, by starting out small, expanding + rotating,
// and then shrinking + rotating we get a nifty little effect
@keyframes spinner-dash {
  0% {
    stroke-dashoffset: 88px;
  }

  50% {
    stroke-dashoffset: 22px;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 88px;
    transform: rotate(450deg);
  }
}
