.camera-grid {
  // we want our children to be displayed row wise
  display: flex;
  flex-direction: row;
  // we want our children to wrap underneath us when the screen is smaller
  // than can fix some children
  flex-wrap: wrap;
  // put things in the center
  justify-content: center;
  // hide that horizontal scroll bar
  overflow-x: hidden;
}


