<!DOCTYPE html>
<html lang="en">
  <head>
    <%= htmlWebpackPlugin.options.headTags %>
    <meta charset="UTF-8">
    <title>Orchid API Player</title>
  </head>
  <body>
    <span id="app-mount"></span>
    <%= htmlWebpackPlugin.options.bodyTags %>
  </body>
</html>
