.camera {
  // we want our content in a column image on top, name underneath
  display: flex;
  flex-direction: column;
  // put things in the center
  justify-content: center;
  // lets cushion between us and our surroundings
  margin: 15px;
  // lets cushion between us and our content
  padding: 5px;
  text-align: center;
  background: #ffffff;
  color: #666;
  // lets give us a border to help us stand out
  // from our neighbors and background
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25px;
}

// we want our camera's name to be centered below the image
// not just center +- some
.camera-name {
  align-self: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
