@import url(https://fonts.googleapis.com/css?family=Quattrocento&display=swap);

html {
  background: #fff;
  color: #666;
  display: block;
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin db-width-height-100p {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  margin: 0;
  overflow: hidden;
  @include db-width-height-100p;
}

main {
  overflow-y: scroll;
  @include db-width-height-100p;
}
